.tourlist {
	margin: 0 auto;
	padding: 2rem 0;
	width: 70vw;
}

@media screen and (min-width: 786px) {
	.tourlist {
		display: grid;
		gap: 1.5rem;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 992px) {
	.tourlist {
		grid-template-columns: repeat(3, 1fr);
		width: 85vw;
	}
}

@media screen and (min-width: 1140px) {
	.tourlist {
		grid-template-columns: repeat(4, 1fr);
	}
}
