@import '../../index.scss';
.tour {
	background: $mainGrey;
	border-radius: 0.8rem;
	margin: 1rem 0;

	img {
		border-top-left-radius: 0.8rem;
		border-top-right-radius: 0.8rem;
		display: block;
		width: 100%;
	}
}

.img-container {
	position: relative;
}

.close-btn {
	color: $mainGreen;
	cursor: pointer;
	display: block;
	font-size: 2rem;
	opacity: 0;
	position: absolute;
	right: 5%;
	top: 5%;
	transition: all 0.3s linear;
}

.img-container:hover .close-btn {
	opacity: 1;
}

.tour-info {
	padding: 1rem 0.5rem;

	h3 {
		color: $mainGreen;
		text-transform: uppercase;
	}

	h4 {
		color: $mainBlack;
		margin: 0.2rem 0 0.6rem 0;
		text-transform: capitalize;
	}

	h5 {
		text-transform: capitalize;

		span {
			color: $mainGreen;
			cursor: pointer;
			font-size: 1.2rem;
			margin: 0.5rem;
		}
	}
}
